<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notalone"
        android:label="NotAlone"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_notalone_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".SignInActivity">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Аккаунт"
            android:theme="@style/dark">

        </activity>
        <activity android:name=".AuthActivity" /> <!-- SplashScreen activity -->
        <activity
            android:name=".SplashActivity"
            android:windowBackground="@color/gray">

            <!-- android:theme="@style/SplashTheme"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ThirdActivity -->
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_third" /> <!-- SecondActivity -->

        <activity
            android:name=".SupportActivity"
            android:label="Поддержка"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.MyApplication" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>